services:
  selenium-hub:
    image: selenium/hub
    container_name: selenium-hub
    ports:
      - "4444:4444"
    networks:
      - selenium-grid

  chrome:
    image: selenium/node-chrome
    shm_size: 2gb
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    depends_on:
      - selenium-hub
    networks:
      - selenium-grid

  firefox:
    image: selenium/node-firefox
    shm_size: 2gb
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    depends_on:
      - selenium-hub
    networks:
      - selenium-grid

  edge:
    image: selenium/node-edge
    shm_size: 2gb
    environment:
      - SE_EVENT_BUS_HOST=selenium-hub
      - SE_EVENT_BUS_PUBLISH_PORT=4442
      - SE_EVENT_BUS_SUBSCRIBE_PORT=4443
    depends_on:
      - selenium-hub
    networks:
      - selenium-grid

  tests:
      build: .
      container_name: AccuMexs

      volumes:
        - .:/usr/src/app
      working_dir: /usr/src/app
      depends_on:
        - selenium-hub
        - chrome
        - edge
        - firefox
      entrypoint: [ "sh", "-c", "mvn test" ]
      networks:
        - selenium-grid
networks:
  selenium-grid:
